div {
    margin: auto;
    text-align: center;
    display: block;
}

button {
    margin: 20px;
}
@import url('https://fonts.googleapis.com/css?family=Warnes&display=swap');
h1 {
  font-size: 80px;
  text-align: center;
  font-family: 'Warnes', cursive;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}
